@import '../untils/_variables.scss';
@import '../untils/_mixins.scss';

.arias-block {
  display: flex;

  &__left {
    width: 40%;
    background: $super-light-blue;
    padding: 15px;
  }

  &__right {
    width: 60%;
    display: flex;
    padding: 15px 15px 15px 70px;
  }

  &__col {
    width: 40%;

    &:first-child {
      margin-right: 50px;
    }
  }

  &__row {
    padding-left: 15px;
    margin-bottom: 40px;
  }

  &__main-caption {
    font-size: 28px;
    text-align: right;
    text-transform: uppercase;
  }

  &__caption {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;

    @media screen and (min-width: 991px) {
      font-size: 18px;
    }

    &:after {
      @include pseudo;
      width: 10px;
      height: 10px;
      background: #41b7c4;
      left: -10px;
      top: 5px;
      transform: translate(-50%);
    }

    &_list {
      font-size: 20px;
      font-weight: 700;
      margin-top: 40px;

      &:after {
        display: none;
      }
    }
  }

  &_right-side {
    .arias-block__left {
      order: 2;
    }
  }
}

.work-arias {
  padding: 40px 0;

  &-tabs {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 991px) {
      flex-direction: row;
    }

    &__header {
      margin-right: 50px;
      position: relative;
      // max-width: 370px;
      width: 100%;
    }

    &__list {
      font-size: 16px;
      color: $light-blue;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // border: 1px solid $dark-blue;
      @media screen and (min-width: 767px) {
        font-size: 18px;
      }

      @media screen and (min-width: 991px) {
        border: none;
      }
    }

    &__item {
      border: 1px solid $dark-blue;
      margin-bottom: 15px;
      width: 100%;
      padding: 0;

      @media screen and (min-width: 991px) {
        border: none;
        width: initial;
        // padding: 0;
      }
    }

    &__link {
      padding: 20px 20px 20px 30px;
      cursor: pointer;
      color: $dark-blue;
      transition: all 0.3s;
      display: block;
      font-weight: 700;
      position: relative;

      &:before,
      &:after {
        content: '';
        display: block;
        width: 11px;
        height: 2px;
        background: $dark-blue;
        position: absolute;
        top: 50%;
        left: 10px;
      }

      &:after {
        transform: rotate(-90deg);
      }

      @media screen and (min-width: 991px) {
        max-width: 350px;
        color: $light-blue;
        font-weight: 400;

        &:after,
        &:before {
          display: none;
        }
      }

      .active-item & {
        background: rgba(0, 52, 106, 0.17);
      }

      @media screen and (min-width: 991px) {
        &:hover,
        .active-item & {
          padding-left: 20px;
          color: $dark-blue;
          font-weight: 700;
          background: transparent;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 30px;
      color: $dark-blue;
      height: 0;
      overflow: hidden;
      transition: all 0.6s ease-in-out;
      // height: 100%;

      @media screen and (min-width: 991px) {
        position: absolute;
        right: 0;
        top: 20px;
        width: calc(100% - 370px);
        padding: 0;
        max-height: initial;
        overflow: initial;
        height: initial;
        display: none;
      }

      .active-item & {
        display: flex;
        flex-direction: column;
        margin: 15px 0 0 0;

        @media screen and (min-width: 991px) {
          margin: 0;
        }
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: 767px) {
      flex-direction: row;
      margin-bottom: 10px;
    }

    @media screen and (min-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &__col {
    margin-bottom: 10px;

    @media screen and (min-width: 767px) {
      width: calc(50% - 20px);
      margin-bottom: 0;
    }
  }
}