@import '../untils/_variables.scss';
@import '../untils/_mixins.scss';

.intro-block {
  min-height: 100vh;
  background: url('../../images/main-back.webp') no-repeat 50% / cover;

  &_no-webp {
    background: url('../../images/main-back.jpg') no-repeat 50% / cover;
    min-height: 100vh;
  }
}

.intro-screen {
  min-height: 100vh;
  display: flex;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }

  &__caption {
    font-size: 30px;
    color: $white;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 28px;
      text-align: left;
    }

    @media screen and (min-width: 991px) {
      font-size: 50px;
    }
  }

  &__text {
    max-width: 650px;
    color: $white;
    font-size: 20px;
    margin: 0;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
      font-size: 24px;
    }
  }
}